* {
    margin: 0;
    padding: 0;
    font: 20px Tahoma;
    color: rgb(11, 83, 38);
    list-style-type: none;
    text-decoration: none;
}

.header {
    background: rgba(156, 231, 185, 0.27);
    padding: 52px;
}

.header__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__flex .logo {
    max-width: 150px;
    border-radius: 30%;
    margin-left: 50px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav__li{
    margin-left: 15px;
}

.nav__popup label{
    cursor:pointer;
}

.nav__img {
    display:block;
    max-width: 24px;
}

#popup__checkbox {
    /*appearance: none;*/
    position: absolute;
}

#popup__checkbox__more {
    /*appearance: none;*/
    position: relative;
    

}

.popup__list, .popup__ul__more {
    display: none;
    position: absolute;
    right: 52px;
    top: 190px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: #f5f5f5;
}

#popup__checkbox:checked ~ .popup__list{
    display: grid;
    
}

#popup__checkbox__more:checked ~ .popup__ul__more {
    display: grid;
    width: auto;
}

.popup__list__checkbox, .popup__list__checkbox__more {
    padding: 5px;
    max-height: 360px;
    overflow: auto;
 
}

.popup__img {
    height: 40px;
    width: 40px;
}

.popup__ul,.popup__ul__more {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
}

.popup__ul__more{
    display:none;
}

.popup__ul__more:checked {
    display: grid;
    }
